@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local("Sans Forgetica Regular"), url("../../../font/SansForgetica-Regular.woff") format("woff"); }

*, *::before, *::after {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*font-family: 'Sans Forgetica Regular';*/
  box-sizing: border-box;
  margin: 0; }

/* BARRA SCROLL PERSONALIZADA */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background: #01CDA9;
  border-radius: 5px; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "center-content" "bottom-nav"; }

.left-nav {
  background-color: #46B6A0;
  padding: 1rem;
  grid-area: bottom-nav;
  flex-direction: row; }
  .left-nav > header > a {
    cursor: pointer; }
    .left-nav > header > a > img {
      height: 100%;
      width: 40%;
      min-width: 4rem;
      display: none; }

.nav-bar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between; }
  .nav-bar__list > li > a {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    color: #FFFFFF; }
    .nav-bar__list > li > a:hover {
      background-color: #007e68;
      border-radius: 1.3rem;
      transition: 0.2s; }
    .nav-bar__list > li > a > img {
      display: inline-block;
      width: 2rem; }
    .nav-bar__list > li > a > span {
      display: none;
      text-align: left;
      justify-content: center;
      color: black;
      height: 100%;
      font-size: 1.3rem;
      font-weight: 100; }

.center-screen {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 10fr;
  overflow-y: none;
  overflow-x: auto;
  grid-area: center-content; }

.top-nav {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BAB8B8;
  padding: 1rem; }
  .top-nav__profile {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
    .top-nav__profile > img {
      height: 3rem;
      border-radius: 50%; }
    .top-nav__profile a {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer; }

.search-bar {
  min-height: 3rem;
  margin: 0;
  width: 50%;
  border-radius: 4rem;
  border: 1px solid #BAB8B8;
  background-image: url("/images/icons/search.svg");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding-left: 3rem; }

::placeholder {
  font-size: 1.2rem; }

.content-container {
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: none; }

.content {
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: auto; }

@media (min-width: 550px) {
  body {
    grid-template-columns: min-content 6fr;
    grid-template-areas: none;
    overflow-y: hidden; }
  .left-nav {
    padding: 1rem;
    grid-area: unset;
    overflow-y: auto;
    overflow-x: hidden; }
    .left-nav > header > a > img {
      display: inline; }
  .center-screen {
    grid-area: unset;
    overflow-y: auto; }
  .nav-bar__list {
    align-items: center;
    flex-direction: column; }
    .nav-bar__list li > a > span {
      display: none; }
  .search-bar {
    width: 40%; } }

@media (min-width: 1307px) {
  .left-nav {
    padding: 0; }
  body {
    grid-template-columns: 1fr 6fr;
    grid-template-areas: none; }
  .nav-bar__list {
    align-items: normal; }
    .nav-bar__list li > a {
      padding: 0.5rem 0.5rem 0.5rem 0.7rem; }
      .nav-bar__list li > a > span {
        padding: 0.2rem 0.2rem 0.2rem 0.5rem;
        display: inline-block; } }

.top-nav {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #BAB8B8;
  padding: 1rem; }
  .top-nav__profile {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
    .top-nav__profile > img {
      height: 3rem;
      border-radius: 50%; }
    .top-nav__profile a {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer; }

.content {
  height: 100%; }
  .content h2 {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid #BAB8B8; }

.card-view {
  padding-top: 2rem;
  align-items: center;
  display: flex;
  justify-content: center; }

.card-content, .card-content__img {
  display: grid;
  justify-items: center;
  border-radius: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  gap: 4rem; }
  .card-content__question, .card-content__img__question {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #BAB8B8;
    padding: 2rem 0 2rem 0; }
  .card-content__answer, .card-content__img__answer {
    font-size: 1.5rem;
    text-align: center; }
  .card-content a, .card-content__img a {
    display: grid;
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    color: white; }

.card-content__img > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; }
  .card-content__img > div > img {
    width: 60%;
    border-radius: 1rem; }

@media (min-width: 762px) {
  .card-content__question, .card-content__img__question {
    padding: 4rem 2rem 2rem 2rem;
    font-size: 2rem; } }

@media (min-width: 1024px) {
  .card-content {
    gap: 10rem; }
    .card-content__question {
      padding: 6rem 2rem 2rem 2rem; }
  .card-content__img {
    gap: 2rem; }
    .card-content__img > div > img {
      padding: 3rem 3rem 3rem 3rem;
      border-radius: 5rem; }
  .card-view {
    padding: 5rem 4rem 5rem 4rem; } }

@media (min-width: 1300px) {
  .card-content__question {
    padding: 8rem 2rem 2rem 2rem; }
  .card-view {
    padding: 5rem 8rem 5rem 8rem; } }

.card-content__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }
  .card-content__buttons-pass {
    background-color: #01CDA9;
    border-radius: 0 0 0 5rem; }
    .card-content__buttons-pass:hover {
      background-color: #007e68;
      transition: 0.2s; }
  .card-content__buttons-fail {
    background-color: rgba(205, 1, 1, 0.69);
    border-radius: 0 0 5rem 0; }
    .card-content__buttons-fail:hover {
      background-color: #cd0101;
      transition: 0.2s; }

@media (min-width: 1024px) {
  .card-content {
    gap: 4rem; } }
