@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local("Sans Forgetica Regular"), url("../../../font/SansForgetica-Regular.woff") format("woff"); }

*, *::before, *::after {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*font-family: 'Sans Forgetica Regular';*/
  box-sizing: border-box;
  margin: 0; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "center-content" "bottom-nav"; }

.left-nav {
  background-color: #46B6A0;
  padding: 1rem;
  grid-area: bottom-nav;
  flex-direction: row; }
  .left-nav > header > a {
    cursor: pointer; }
    .left-nav > header > a > img {
      height: 100%;
      width: 40%;
      min-width: 4rem;
      display: none; }

.nav-bar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between; }
  .nav-bar__list > li > a {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 1.3rem; }
    .nav-bar__list > li > a:hover {
      background-color: #007e68;
      transition: 0.4s; }
    .nav-bar__list > li > a > img {
      display: inline-block;
      width: 2rem; }
    .nav-bar__list > li > a > span {
      display: none;
      text-align: left;
      justify-content: center;
      color: black;
      height: 100%;
      font-size: 1.3rem;
      font-weight: 100; }
    .nav-bar__list > li > a .selected {
      color: white;
      font-weight: normal;
      border-bottom: 0; }
    .nav-bar__list > li > a .not-selected {
      color: black;
      font-weight: lighter; }

.center-screen {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 10fr;
  overflow-y: none;
  overflow-x: auto;
  grid-area: center-content; }

.top-nav {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BAB8B8;
  padding: 1rem; }
  .top-nav__profile {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
    .top-nav__profile > img {
      height: 3rem;
      border-radius: 50%; }
    .top-nav__profile a {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer; }

.search-bar {
  width: 50%; }
  .search-bar > input {
    min-height: 3rem;
    margin: 0;
    border-radius: 4rem;
    border: 1px solid #BAB8B8;
    background-image: url("/images/icons/search.svg");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding-left: 3rem; }

::placeholder {
  font-size: 1.2rem; }

.content-container {
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: none; }

.content {
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: auto; }

@media (min-width: 550px) {
  body {
    grid-template-columns: min-content 6fr;
    grid-template-areas: none;
    overflow-y: hidden; }
  .left-nav {
    padding: 1rem;
    grid-area: unset;
    overflow-y: auto;
    overflow-x: hidden; }
    .left-nav > header > a > img {
      display: inline; }
  .center-screen {
    grid-area: unset;
    overflow-y: auto; }
  .nav-bar__list {
    align-items: center;
    flex-direction: column; }
    .nav-bar__list li > a > span {
      display: none; }
  .search-bar {
    width: 40%; } }

@media (min-width: 1307px) {
  .left-nav {
    padding: 0; }
  body {
    grid-template-columns: 1fr 6fr;
    grid-template-areas: none; }
  .nav-bar__list {
    align-items: normal; }
    .nav-bar__list li > a {
      padding: 0.5rem 0.5rem 0.5rem 0.7rem; }
      .nav-bar__list li > a > span {
        padding: 0.2rem 0.2rem 0.2rem 0.5rem;
        display: inline-block; } }

/* BARRA SCROLL PERSONALIZADA */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background: #01CDA9;
  border-radius: 5px; }

.top-nav {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BAB8B8;
  padding: 1rem; }
  .top-nav__profile {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
    .top-nav__profile > img {
      height: 3rem;
      border-radius: 50%; }
    .top-nav__profile a {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer; }

.content > h2 {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #BAB8B8; }

.deck-view__content {
  display: block;
  grid-template-columns: 7fr 8fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem; }
  .deck-view__content h3 {
    font-weight: normal;
    font-size: 1.5rem;
    padding: 0 0 1.5rem 0; }
  .deck-view__content img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    object-fit: cover; }

.deck-view__buttons {
  display: flex;
  justify-content: center;
  height: 3rem;
  gap: 0.9rem;
  flex-wrap: wrap; }
  .deck-view__buttons a, .deck-view__buttons form > input {
    align-items: center;
    border-radius: 0.9rem;
    border: 0;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.2rem;
    padding: 0.6rem 3.5rem 0.6rem 3.5rem;
    color: #FFFFFF;
    background-color: #01CDA9;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap; }
    .deck-view__buttons a:hover, .deck-view__buttons form > input:hover {
      background-color: #007e68;
      transition: 0.2s; }
  .deck-view__buttons form:last-child > input {
    background-color: rgba(205, 1, 1, 0.69); }
    .deck-view__buttons form:last-child > input:hover {
      background-color: #cd0101;
      transition: 0.2s; }

.info {
  padding-left: 0;
  padding-bottom: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem; }
  .info p {
    color: #434343; }
  .info__details {
    display: flex;
    gap: 0.3rem;
    flex-direction: column; }
    .info__details__title {
      font-weight: bold; }
    .info__details__response {
      color: black; }
  .info__button {
    display: flex;
    justify-content: left; }
    .info__button > form > input {
      align-items: center;
      border-radius: 0.9rem;
      border: 0;
      height: -moz-fit-content;
      height: fit-content;
      font-size: 1.2rem;
      padding: 0.6rem 3.5rem 0.6rem 3.5rem;
      color: #FFFFFF;
      background-color: #01CDA9;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 700; }
      .info__button > form > input:hover {
        background-color: #007e68;
        transition: 0.2s; }
  .info__studiesNum {
    text-align: right; }

@media (min-width: 762px) {
  .deck-view__content {
    display: grid; }
  .deck-view__buttons {
    justify-content: flex-end; }
  .info {
    padding-left: 4rem;
    padding-bottom: 0; } }

@media (min-width: 1024px) {
  .deck-view__content {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 1300px) {
  .deck-view__content {
    grid-template-columns: 7fr 8fr; } }
