@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local("Sans Forgetica Regular"), url("../../../font/SansForgetica-Regular.woff") format("woff"); }

*, *::before, *::after {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*font-family: 'Sans Forgetica Regular';*/
  box-sizing: border-box;
  margin: 0; }

/* BARRA SCROLL PERSONALIZADA */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background: #01CDA9;
  border-radius: 5px; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "center-content" "bottom-nav"; }

.left-nav {
  background-color: #46B6A0;
  padding: 1rem;
  grid-area: bottom-nav;
  flex-direction: row; }
  .left-nav > header > a {
    cursor: pointer; }
    .left-nav > header > a > img {
      height: 100%;
      width: 40%;
      min-width: 4rem;
      display: none; }

.nav-bar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  justify-content: space-between; }
  .nav-bar__list > li > a {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    color: #FFFFFF; }
    .nav-bar__list > li > a:hover {
      background-color: #007e68;
      border-radius: 1.3rem;
      transition: 0.2s; }
    .nav-bar__list > li > a > img {
      display: inline-block;
      width: 2rem; }
    .nav-bar__list > li > a > span {
      display: none;
      text-align: left;
      justify-content: center;
      color: black;
      height: 100%;
      font-size: 1.3rem;
      font-weight: 100; }

.center-screen {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 10fr;
  overflow-y: none;
  overflow-x: auto;
  grid-area: center-content; }

.top-nav {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BAB8B8;
  padding: 1rem; }
  .top-nav__profile {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
    .top-nav__profile > img {
      height: 3rem;
      border-radius: 50%; }
    .top-nav__profile a {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer; }

.search-bar {
  min-height: 3rem;
  margin: 0;
  width: 50%;
  border-radius: 4rem;
  border: 1px solid #BAB8B8;
  background-image: url("/images/icons/search.svg");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding-left: 3rem; }

::placeholder {
  font-size: 1.2rem; }

.content-container {
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: none; }

.content {
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: auto; }

@media (min-width: 550px) {
  body {
    grid-template-columns: min-content 6fr;
    grid-template-areas: none;
    overflow-y: hidden; }
  .left-nav {
    padding: 1rem;
    grid-area: unset;
    overflow-y: auto;
    overflow-x: hidden; }
    .left-nav > header > a > img {
      display: inline; }
  .center-screen {
    grid-area: unset;
    overflow-y: auto; }
  .nav-bar__list {
    align-items: center;
    flex-direction: column; }
    .nav-bar__list li > a > span {
      display: none; }
  .search-bar {
    width: 40%; } }

@media (min-width: 1307px) {
  .left-nav {
    padding: 0; }
  body {
    grid-template-columns: 1fr 6fr;
    grid-template-areas: none; }
  .nav-bar__list {
    align-items: normal; }
    .nav-bar__list li > a {
      padding: 0.5rem 0.5rem 0.5rem 0.7rem; }
      .nav-bar__list li > a > span {
        padding: 0.2rem 0.2rem 0.2rem 0.5rem;
        display: inline-block; } }

.top-nav {
  background-color: #FFFFFF;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #BAB8B8;
  padding: 1rem; }
  .top-nav__profile {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem; }
    .top-nav__profile > img {
      height: 3rem;
      border-radius: 50%; }
    .top-nav__profile a {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer; }

.following__card {
  width: 100%;
  padding: 0.5rem 2rem 1rem 2rem;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; }

.following__content {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.card__img {
  padding: 1rem;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.card__data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%; }

.card__input {
  display: flex;
  justify-content: center; }

.data__user h2 {
  font-weight: 400;
  font-size: 1.75rem;
  text-align: left; }

.data__user h3 {
  font-weight: 100;
  font-size: 1rem;
  color: #969090;
  padding: 0.3rem 0 0.3rem 0; }

.data__follow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1.5rem; }
  .data__follow p span {
    font-weight: bold; }

.content > h2 {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #BAB8B8; }

.custom-button {
  border-radius: 1.3rem;
  background-color: #01CDA9;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-weight: 100;
  font-size: 1.3rem;
  cursor: pointer; }
  @media (min-width: 762px) {
    .custom-button {
      padding: 0.2rem 2rem 0.2rem 2rem; } }
  @media (min-width: 1024px) {
    .custom-button {
      padding: 0.2rem 4rem 0.2rem 4rem; } }
  .custom-button:hover {
    background-color: #007e68;
    transition: 0.2s; }

.container__following {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  padding: 1rem 0 0 1rem; }

@media (min-width: 762px) {
  .following__card {
    flex-direction: row;
    padding-bottom: 0; }
    .following__card .card__container {
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem; }
    .following__card .card__data {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem; }
    .following__card .card__input {
      display: flex;
      align-items: flex-end;
      padding-bottom: 1rem; } }

@media (min-width: 762px) {
  .following__content {
    flex-direction: row; }
  .data__user h3 {
    text-align: left; } }

@media (min-width: 1024px) {
  .container__following {
    padding: 1rem 5rem 0 5rem; } }

@media (min-width: 1300px) {
  .container__following {
    padding: 1rem 12rem 0 12rem; } }

@media (min-width: 1520px) {
  .container__following {
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 0 0 1rem; } }
