@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local("Sans Forgetica Regular"), url("../../../font/SansForgetica-Regular.woff") format("woff"); }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  width: 80%;
  height: 95%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2); }

.left-part {
  background-color: #46B6A0;
  height: 100%;
  max-height: 100%; }

.right-part {
  height: 100%;
  max-height: 100%;
  display: grid;
  /* grid-template-rows: 1fr 3fr 2fr; */
  justify-content: center; }

.right-part > img {
  width: 65%;
  padding: 1rem;
  justify-self: center; }

.inputs {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem; }

.custom-input {
  border: 0;
  border-bottom: 1px solid #8D8D8D;
  outline: 0;
  font-size: 1.3rem; }

.checkboxes {
  display: flex;
  justify-content: space-evenly; }

.custom-submit {
  background-color: #01CDA9;
  border: none;
  border-radius: 1.3rem;
  color: #FFFFFF;
  padding: .5rem;
  font-size: 1.3rem;
  font-weight: 100;
  cursor: pointer; }

.custom-button {
  text-decoration: none;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #01CDA9;
  border-radius: 1.3rem;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.3rem;
  font-weight: 100;
  padding: .5rem;
  color: #969090; }

.forgot-password {
  text-align: center;
  text-decoration: none;
  color: #01CDA9; }
