body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "center-content"
    "bottom-nav";
}

.left-nav {
  background-color: $decklearn-green;
  padding: 1rem;
  grid-area: bottom-nav;
  flex-direction: row;

  > header {
    > a {
      cursor: pointer;
      > img {
        height: 100%;
        width: 40%;
        min-width: 4rem;
        display: none;
      }
    }
  }
}

.nav-bar {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-between;

    > li {
      > a {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-decoration: none;
        color: $nav-bar-items-color;
        border-radius: $button-round-radius;

        &:hover {
          background-color: $darkened-decklearn-color;
          transition: 0.4s;
        }

        > img {
          display: inline-block;
          width: 2rem;
        }

        > span {
          display: none;
          text-align: left;
          justify-content: center;
          color: $text-color;
          height: 100%;
          font-size: 1.3rem;
          font-weight: 100;
        }

        .selected {
          color: $selected-left-nav-color;
          font-weight: normal;
          border-bottom: 0;
        }

        .not-selected {
          color: $not-selected-left-nav-color;
          font-weight: lighter;
        }
      }
    }
  }
}

.center-screen {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 10fr;
  overflow-y: none;
  overflow-x: auto;
  grid-area: center-content;
}

.top-nav {
  @include top-nav(space-between);
}

.logout {
  @include logout-button;
}

.search-bar {
  width: 50%;

  > input {
    min-height: 3rem;
    width: 100%;
    margin: 0;
    border-radius: 4rem;
    border: 1px solid $search-bar-border-color;

    background-image: url($search-bar-image);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

::placeholder {
  font-size: 1.2rem;
}

.content-container {
  height: 100%;
  background-color: $web-bg;
  overflow-y: scroll;
  overflow-x: none;
}

.content {
  @include content(auto);
}

@media (min-width: screen-size-nav-bar(medium)) {
  body {
    grid-template-columns: min-content 6fr;
    grid-template-areas: none;
    overflow-y: hidden;
  }

  .left-nav {
    padding: 1rem;
    grid-area: unset;
    overflow-y: auto;
    overflow-x: hidden;

    > header > a {
      > img {
        display: inline;
      }
    }
  }

  .center-screen {
    grid-area: unset;
    overflow-y: auto;
  }

  .nav-bar__list {
    align-items: center;
    flex-direction: column;

    li > a > span {
      display: none;
    }
  }

  .search-bar {
    width: 40%;
  }
}

@media (min-width: screen-size-nav-bar(large)) {
  .left-nav {
    padding: 0.5rem;
  }

  body {
    grid-template-columns: 1fr 6fr;
    grid-template-areas: none;
  }

  .nav-bar {
    &__list {
      align-items: normal;
      li > a {
        padding: 0.5rem 0.5rem 0.5rem 0.7rem;
        border-radius: $button-radius;

        > span {
          padding: 0.2rem 0.2rem 0.2rem 0.5rem;
          display: inline-block;
        }
      }
    }
  }
}
