
$decklearn-green: #46B6A0;
$button-green: #01CDA9;

$input-underline: #BAB8B8;

$custom-button-bg: #01CDA9;

$custom-button-border: #01CDA9;
$custom-button-color: #FFFFFF;
$custom-button-text-color: #000000;
$custom-button-unfollow: rgba(211, 70, 10, 0.1);
$custom-button-unfollow-text: #d34646;

$web-bg: #FFFFFF;

$scroll-bar-color: #01CDA9;
$scroll-bar-border-color: #d6d6d6;
$scroll-bar-right-margin-color: #d6d6d6;

$custom-button-sec-bg: #FFFFFF;
$custom-button-sec-border: #01CDA9;
$custom-button-sec-color: #969090;

$card-section-button-color: #01CDA9;
$card-section-button-color-fail: rgba(205, 1, 1, 0.69);
$custom-button-font-color: #FFFFFF;

$border-bottom-color: #BAB8B8;

$search-bar-border-color: #BAB8B8;

$nav-bar-items-color: #FFFFFF;

$checkbox-border-color: #01CDA9;
$checkbox-inside-color: #FFFFFF;

$stats-graphic-a: #FFFFFF;

$paragraph-text-color: #434343;
$radio-border-color: #01CDA9;
$radio-inside-color: #FFFFFF;
$settings-selector-text-color: #000000;
$logout-color: #FA4141;

$donut-base-color: #e1e1e1;
$donut-center-color: #fff;

$card-font-color: white;

$info-response: black;

$placeholder-color: #BAB8B8;
$h3-color: #969090;

$creation-button-color: black;
$creation-button-bg-color: white;

$percentage-improve: #4abb15;
$percentage-worsened: #cd0101;

$following-follower-color: black;

$darkened-decklearn-color: #007e68;
$darkened-red-color: #cd0101;
$darkened-for-white-buttons-color: #DBDFDF;
$darkened-tags-color: gainsboro;

$text-color: black;