*, *::before, *::after{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-family: 'Sans Forgetica Regular';*/
    box-sizing: border-box;
    margin: 0;
}

//la fuente en figma es roboto. En caso de querer meterla sí o sí, mirar como