$media-sizes: (
    "medium": 762px,
    "large": 1024px,
    "extra-large": 1300px,
    "extra-extra-large": 1520px
);

$media-sizes-login: (
    "medium": 450px
);

$media-sizes-nav-bar: (
    "medium": 550px,
    "large": 1307px
);

@function screen-size($pixels) {
    @return map-get($media-sizes, $pixels);
}

@function screen-size-login($pixels) {
    @return map-get($media-sizes-login, $pixels);
}

@function screen-size-nav-bar($pixels) {
    @return map-get($media-sizes-nav-bar, $pixels);
}

@function screen-size-login-vertical() {
    @return 670px;
}

@function screen-size-register-vertical() {
    @return 700px;
}