/* BARRA SCROLL PERSONALIZADA */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: $scroll-bar-color;
	border-radius: 5px;
    //border-right: 2px solid $scroll-bar-right-margin-color;
}