$title-font-size: 1.5rem;
$title-h4-font-size: 1.3rem;
$data-font-size: 1.2rem;
$categories-font-size: 1rem;

$width-size: calc(100% - 6rem);

$button-radius: 1.3rem;
$button-round-radius: 50%;
$thick-button-radius: 0.9rem;
$card-section-radius: 0.5rem;
$settings-selector-radius: 0.5rem;

$button-font-size: 1.3rem;

$photo-radius: 5rem;
$photo-small-radius: 1rem;

$settings-button-radius: 0 1.3rem 1.3rem 0;
