@import '../../variables/variables';

.deck-creation-section {
    > h2 {
        display: flex;
        text-align: center;
        margin: 0;
        // margin-bottom: 1rem;
    
        font-size: $title-font-size;
        font-weight: normal;
        border-bottom: 1px solid $border-bottom-color;
    }

    &__list {
        display: grid;
        gap: 2rem;
    }
}

.deck-creation > div > h4, .card-creation > h4 {
    margin: 0;
    margin-bottom: 0.2rem;

    font-size: $title-h4-font-size;
    font-weight: normal;
}

.card-creation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 1rem;

    &__data {
        outline: none;
        border: 0;
        border-bottom: 1px solid $border-bottom-color;
        margin-left: 1.5rem;
        padding-bottom: 0.3rem;

        width: calc(100% - 1.5rem);
        resize: none;

        font-size: $data-font-size;
    }

    > label {
        margin-left: 1rem;
    }
}

.deck-creation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 1rem;
}

.creation-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    padding-left: 0.6rem;

    font-size: $data-font-size;
    border: 0;
    border-bottom: 1px solid $card-section-button-color;
    border-radius: $button-radius;
    
    background-color: $card-section-button-color;
    color: $custom-button-color;

    > img {
        width: 1.7rem;
        margin-right: 0.5rem;
    }
}

.add-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.custom-button {
    text-align: center;
    
    border-radius: $button-radius;
    border: 0;
    height: fit-content;
    font-size: $data-font-size;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    color: $custom-button-font-color;
    background-color: $card-section-button-color;

    white-space: nowrap;
}

.deck-categories {
    padding-top: 3rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 1rem;
        gap: 1rem;

        > button {
            display: flex;
            align-items: center;
        
            border: 1px solid $border-bottom-color;
            border-radius: $button-radius;
        
            padding: 0.2rem;
            font-size: $categories-font-size;

            > img {
                width: 1rem;
                margin-right: 0.2rem;
                margin-left: 0.2rem;
            }
        }
    }
}

.create-deck {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    &__button {
        display: flex;
        justify-content: center;
    
        width: 40%;
        padding: 0.5rem;

        border-radius: $button-radius;
        border: 0;
        font-size: $button-font-size;

        color: $custom-button-font-color;
        background-color: $card-section-button-color;
    }
}

.categories-bar {
    width: 100%;
}

@media (min-width: screen-size(medium)){
    .categories-bar {
        width: 40%;
    }
}

@media (min-width: screen-size(large)){
    .create-deck__button{
        width: 33%;
    }

    .deck-creation-section__list{
        grid-template-columns: 3fr 2fr min-content;
    }

    .categories-bar {
        width: 40%;
    }
}   

@media (min-width: screen-size(extra-large)){

    .create-deck__button{
        width: 33%;
    }

    .deck-creation-section__list{
        grid-template-columns: 3fr 2fr min-content;
    }

    .categories-bar {
        width: 40%;
    }
}