@import '../../objects/stats';

.titled-stats-section__list{
    display: grid;
    grid-template-columns: 1fr;

    > h2 {
        padding: 3rem 1rem 0 2rem;
        font-weight: 400;
        font-size: 1.4rem;
    }
}