@import "variables";

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;

  img {
    box-sizing: border-box;

    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: $card-section-radius $card-section-radius 0 0;
  }
}

.error-description {
  text-align: center;
  h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
  }
}
.error-image {
  width: auto;
}

@media (min-width: screen-size(large)) {
  .content {
    img {
      height: 100%;
      width: auto;
    }
  }
}
