@import "variables";
@import "generic";
@import "scrollbar";
@import "base";

.top-nav {
  @include top-nav(space-between);
}

.following {
  &__card {
    width: 100%;
    padding: 0.5rem 2rem 1rem 2rem;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  &__content {
    text-decoration: none;
    color: $following-follower-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.card {
  &__img {
    @include profile-img;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }

  &__input {
    display: flex;
    justify-content: center;
  }
}

.data {
  &__user {
    h2 {
      font-weight: 400;
      font-size: 1.75rem;
      text-align: center;
    }
    h3 {
      font-weight: 100;
      font-size: 1rem;
      color: $h3-color;
      padding: 0.3rem 0 0.3rem 0;
    }
  }

  &__follow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    a {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      color: $text-color;
      text-decoration: none;
      p {
        span {
          font-weight: bold;
        }
      }
    }
  }
}

.content {
  > h2 {
    @include h2-title;
  }
}

.custom-button {
  @include default-button;
}

.container__following {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.2rem;
  padding-top: 1rem;
}

@media (min-width: screen-size(medium)) {
  .following__card {
    flex-direction: row;
    padding-bottom: 0;
    .card__container {
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
    }

    .card__data {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .card__input {
      display: flex;
      align-items: flex-end;
      padding-bottom: 1rem;
    }
  }
}

@media (min-width: screen-size(medium)) {
  .following__content {
    flex-direction: row;
  }

  .data__user {
    h3 {
      text-align: left;
    }
  }
}

@media (min-width: screen-size(large)) {
  .container__following {
    padding: 1rem 5rem 0 5rem;
  }
}

@media (min-width: screen-size(extra-large)) {
  .container__following {
    padding: 1rem 12rem 0 12rem;
  }
}

@media (min-width: screen-size(extra-extra-large)) {
  .container__following {
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 0 0 1rem;
  }
}
