@import '../../variables/variables';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 80%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.left-part {
    background-color: $decklearn-green;
    height: 100%;
    max-height: 100%;
}

.right-part {
    height: 100%;
    max-height: 100%;
    display: grid;
    /* grid-template-rows: 1fr 3fr 2fr; */
    justify-content: center;
}

.right-part > img {
    width: 65%;
    padding: 1rem;
    justify-self: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    row-gap: 1rem;
}

.custom-input {
    border: 0;
    border-bottom: 1px solid $input-underline;
    outline: 0;
    font-size: 1.3rem;
}

.checkboxes {
    display: flex;
    justify-content: space-evenly;
}

.custom-submit {
    background-color: $custom-button-bg;
    border: none;
    border-radius: $button-radius;
    color: $custom-button-color;
    padding: .5rem;
    font-size: $button-font-size;
    font-weight: 100;
    cursor: pointer;
}

.custom-button {
    text-decoration: none;
    text-align: center;
    background-color: $custom-button-sec-bg;
    border: 2px solid $custom-button-sec-border;
    border-radius: $button-radius;
    height: fit-content;
    font-size: $button-font-size;
    font-weight: 100;
    padding: .5rem;
    color: $custom-button-sec-color;
}

.forgot-password {
    text-align: center;
    text-decoration: none;
    color: $button-green;
}