@import '../../variables/variables';

*{
    margin: 0;
    box-sizing: border-box;
}

.profile__top-title{
    border-bottom: $input-underline 1px solid;
    padding: 0.1rem;
}

.profile-data{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    &__img-user {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1rem;
    }

    &__image {
        padding: 1rem;
        object-fit: cover;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    &__button {
        padding-bottom: 2rem;
    }
}

.button-editProfile {
    text-decoration: none;
    background-color: $custom-button-bg;
    border-radius: $button-radius;
    color: $custom-button-color;
    padding: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: $button-font-size;
    cursor: pointer;
}

.user-name {
    h3{
        font-weight: normal;
        color: $input-underline;
    }
}

.user-follower{
    display: flex;
    width: 100%;
    justify-content: space-between;

    p{
        span{
            font-weight: bold;
        }
    }
}

.profile-nav{
    border-bottom: $input-underline 1px solid;
    display: flex;
    justify-content: space-between;

    p{
        height: 100%;
    }
}

.selected{
    border-bottom: $decklearn-green solid 3px;
}

@media (min-width: screen-size(medium)){
    .profile-data{
        flex-direction: row;
        align-items: flex-end;

        &__img-user {
            flex-direction: row;
        }

        &__button {
            display: flex;
            padding-bottom: 1rem;
        }
    }

    .user-name {
        h3{
            text-align: left;
        }
    }
}

@media (min-width: screen-size(large)){
    
}   

@media (min-width: screen-size(extra-large)){
    
}