<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deck Learn</title>
  <link rel="stylesheet" th:href="@{/styles/modules/css/following.css}">
  <!-- <script src="js/following.js"></script> -->
</head>

<body>

  <div th:replace="fragments/left-nav :: left-nav"></div>

  <main class="center-screen">

    <div th:replace="fragments/top-nav :: top-nav"></div>

    <div class="content-container">
      <section class="content">
        <h2>Following</h2>
        <div class="container__following">

          <div class="following__card" th:each="follower: ${followers}">
            <a class="following__content" th:href="@{/{username}(username=${follower.username})}">
              <img class="card__img" th:src="@{{username}(username=${follower.imgPath})}" alt="">
              <div class="card__data">
                <div class="data__user">
                  <h2 th:inline="text">[[${follower.name}]]</h2>
                  <h3 th:inline="text">[[${follower.username}]]</h3>
                </div>
                <div class="data__follow">
                  <a th:href="@{/{username}/following(username=${follower.username})}">
                    <p> <span th:inline="text">[[${follower.followed.size}]]</span> Following</p>
                  </a>
                  <a th:href="@{/{username}/followers(username=${follower.username})}">
                    <p> <span th:inline="text">[[${follower.followers.size}]]</span> Followers</p>
                  </a>
                </div>
              </div>
            </a>
            <div class="card__input">
              <a href="" class="custom-button selectable">Following</a>
            </div>
          </div>

        </div>
      </section>
    </div>
  </main>
</body>

</html>