<div th:fragment="top-nav">
    <nav class="top-nav">
        <input type="text" id="searchBar" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="search-bar">
        <div class="top-nav__profile">
            <!-- <img th:src="${#httpServletRequest.remoteUser.img_path}" alt=""> -->
            <!-- <a th:href="@{/{user}(user=${#httpServletRequest.remoteUser})}" th:inline="text" tabindex="0">[[${#httpServletRequest.remoteUser}]]</a> -->
            <span> Logged user: <span sec:authentication="name"></span> </span>
            <!-- <span th:text ="${#authentication.getPrincipal()}"></span> -->
    </nav>
</div>