<div th:fragment="top-nav">
  <nav class="top-nav">
    <form th:action="@{/deck/search}" method="get" class="search-bar">
      <input type="text" id="searchBar" onkeyup="myFunction()" placeholder="Search decks..." title="Type in a name"
        name="searchName">
    </form>

    <div class="top-nav__profile">
      <img th:src="${#session.getAttribute('userImg')}" alt="">
      <a th:href="@{/{user}(user=${#httpServletRequest.remoteUser})}" th:inline="text" tabindex="0">
        [[${#httpServletRequest.remoteUser}]]
      </a>
      <a th:href="@{/logout}" class="logout">
        <img th:src="@{/images/icons/Log_out.svg}" alt="">
      </a>
  </nav>
</div>