<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${deck.title}]] Deck Stats | Deck Learn - </title>
    <link rel="stylesheet" th:href="@{static/styles/css/home.css}">
    <link rel="stylesheet" th:href="@{static/styles/css/deck_stats.css}">
    <!-- <script src="assets/user_stats/scss/user_stats.js"></script> -->
</head>

<body>

    <div th:replace="fragments/left-nav :: left-nav"></div>

    <main class="center-screen">

        <div th:replace="fragments/top-nav :: top-nav"></div>

        <div class="content-container">
            <div class="content">
                <section class="stats-section">
                    <h2>Deck Stats</h2>
                    <div class="titled-stats-section__list">
                        <h2 th:inline="text">[[${deck.title}]]</h2>
                        <div class="stats-section__list">
                            <div class="stats-card__list">
                                <div class="stats-card">
                                    <h3>Studies this month</h3>
                                    <div class="stats-card__content">
                                        <p th:inline="text">[[${monthStudies}]]</p>
                                    </div>
                                    <div class="stats-card__decoration"> </div>
                                </div>
    
                                <div class="stats-card">
                                    <h3>Total Studies</h3>
                                    <div class="stats-card__content">
                                        <p th:inline="text">[[${totalStudies}]]</p>
                                    </div>
                                    <div class="stats-card__decoration"> </div>
                                </div>
    
                                <div class="stats-card">
                                    <h3>Average completion time</h3>
                                    <div class="stats-card__content">
                                        <p th:inline="text">[[${avgTime}]]</p>
                                    </div>
                                    <div class="stats-card__decoration"> </div>
                                </div>
    
                                <div class="stats-card">
                                    <h3>Total saves</h3>
                                    <div class="stats-card__content">
                                        <p th:inline="text">[[${totalSaves}]]</p>
                                        <img th:src="@{/images/icons/book.svg}" alt="">
                                    </div>
                                    <div class="stats-card__decoration"> </div>
                                </div>
                            </div>
    
                            <div class="stats-graphic">
                                <h3 class="stats-graphic__title">Average pass ratio</h3>
                                <div id="graph1" class="donut-chart chart1">
                                    <div id="graph_part1" class="slice one"></div>
                                    <div id="graph_part2" class="slice two"></div>
                                    <div class="chart-center">
                                        <span id="texto" th:data-after="${averagePass}"></span>
                                    </div>
                                </div>
                                <a tabindex="0" th:href="@{/home}">Exit review</a>
                            </div>
                        </div>
                    </div> 
                </section>
            </div>
        </div>
    </main>
</body>

</html>