<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Learn - French Revolution</title>
    <link rel="stylesheet" href="assets/deck_view/css/deck_view.css">
</head>

<body>
    <aside class="left-nav">
        <header>
            <a href="">
                <img src="images/letterLogo.svg" alt="Logo">
            </a> 
        </header>
        <div class="nav-bar">
            <ul class="nav-bar__list">
                <li>
                    <a href="">
                        <img src="images/icons/Home.svg" alt="Home">
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="images/icons/CreateDeck.svg" alt="Create Deck">
                        <span>Create deck</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="images/icons/StudySessions_select.svg" alt="Study Sessions">
                        <span>Study sessions</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="images/icons/Profile.svg" alt="Profile">
                        <span>Profile</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="images/icons/Stats.svg" alt="User Stats">
                        <span>Stats</span>
                    </a>
                </li>

                <li>
                    <a href="">
                        <img src="images/icons/Settings.svg" alt="Settings">
                        <span>Settings</span>
                    </a>
                </li>

            </ul>
        </div>
    </aside>

    <main class="center-screen">
        <nav class="top-nav">
            <div class="top-nav__profile">
                <img src="images/profilePic.jpg" alt="">
                <a tabindex="0">Izan24</a>
            </div>
        </nav>

        <div class="content-container">
            <section class="content">
                <h2>Deck View</h2>

                <div class="deck-view">
                    <div class="deck-view__content">
                        <div class="deck-view__content__info">
                            <h3>French Revolution</h3>
                            <div class="info">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, adipisci
                                    consequuntur
                                    dolor nostrum fuga rerum voluptatem, corrupti ab voluptatum doloribus sunt, soluta
                                    quam
                                    nobis sequi eveniet eaque obcaecati repellat magnam.
                                </p>

                                <div class="info__details">
                                    <div>
                                        <span class="info__details__title">Card number:</span>
                                        <span class="info__details__response">45</span>
                                    </div>

                                    <div>
                                        <span class="info__details__title">Creator:</span>
                                        <a href="" class="info__details__response">Igrlpz</a>
                                    </div>

                                    <div>
                                        <span class="info__details__title">Type:</span>
                                        <span class="info__details__response">Hystory, France, Revolution</span>
                                    </div>
                                </div>

                                <div class="info__button">
                                    <a href="">Study</a>
                                </div>

                                <span class="info__studiesNum">40k studies</span>
                            </div>
                        </div>

                        <img src="images/revolucion.jpeg" alt="">
                    </div>

                    <div class="deck-view__buttons">
                        <a href="" class="">View stats</a>
                        <a href="" class="">Save</a>
                        <a href="" class="">Edit</a>
                        <a href="" class="">Remove</a>
                    </div>
                </div>

            </section>
        </div>
    </main>
</body>

</html>