<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Learn</title>
    <link rel="stylesheet" th:href="@{/styles/modules/css/home.css}">
    <link rel="stylesheet" th:href="@{/styles/modules/css/base_imports.css}">
</head>

<body>
    <aside class="left-nav">
        <header>
            <img src="images/letterLogo.svg" alt="Logo">
        </header>
        <main class="nav-bar">
            <ul class="nav-bar__list">
                <a href="">
                    <img src="images/icons/Home_select.svg" alt="Home">
                    <li>Home</li>
                </a>

                <a href="">
                    <img src="images/icons/CreateDeck.svg" alt="Create Deck">
                    <li>Create deck</li>
                </a>

                <a href="">
                    <img src="images/icons/StudySessions.svg" alt="Study Sessions">
                    <li>Study sessions</li>
                </a>
                <a href="">
                    <img src="images/icons/Profile.svg" alt="Profile">
                    <li>Profile</li>
                </a>
                <a href="">
                    <img src="images/icons/Stats.svg" alt="User Stats">
                    <li>Stats</li>
                </a>
                <a href="">
                    <img src="images/icons/Settings.svg" alt="Settings">
                    <li>Settings</li>
                </a>
            </ul>
        </main>
    </aside>

    <main class="center-screen">
        <nav class="top-nav">
            <input type="text" id="searchBar" onkeyup="myFunction()" placeholder="Search for names.."
                title="Type in a name" class="search-bar">
            <div class="top-nav__profile">
                <img src="images/profilePic.jpg" alt="">
                <span>Izan24</span>
            </div>
        </nav>

        <section class="content-container">
            <section class="content">

                <section class="card-section">
                    <h2>Your Study Sessions</h2>

                    <div class="card-section__list">

                        <div class="card" th:each="deck: ${study_sessions}">
                            <div class="card-content">
                                <img class="" th:src="@{deck.path}"></img>
                                <div>
                                    <h3 th:inline="text">[[${deck.title}]]</h3>
                                    <span th:text="${deck.text}"></span>
                                </div>
                            </div>
                            <a th:href="/deck/${deck.id}">View</a>
                        </div>

                    </div>
                </section>

                <section class="card-section">
                    <h2>Explore Decks</h2>

                    <div class="card-section__list">

                        <div class="card" th:each="deck: ${explore_deck}">
                            <div class="card-content">
                                <img class="" th:src="@{deck.path}"></img>
                                <div>
                                    <h3 th:inline="text">[[${deck.title}]]</h3>
                                    <span th:text="${deck.text}"></span>
                                </div>
                            </div>
                            <a th:href="/deck/${deck.id}">View</a>
                        </div>

                    </div>
                </section>
            </section>
        </section>
    </main>
</body>

</html>