<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Learn</title>
    <link rel="stylesheet" href="assert/main/css/main.css">
    <link rel="stylesheet" href="assert/modules/css/home.css">
    <link rel="stylesheet" href="assert/modules/css/profile.css">
</head>

<body>
    <aside class="left-nav">
        <header>
            <img src="images/letterLogo.svg" alt="Logo">
        </header>
        <main class="nav-bar">
            <ul class="nav-bar__list">
                <a href="">
                    <img src="images/letterLogo.svg" alt="">
                    <li>Home</li>
                </a>

                <a href="">
                    <img src="images/letterLogo.svg" alt="">
                    <li>Create deck</li>
                </a>

                <a href="">
                    <img src="images/letterLogo.svg" alt="">
                    <li>Study sessions</li>
                </a>
                <a href="">
                    <img src="images/letterLogo.svg" alt="">
                    <li>Profile</li>
                </a>
                <a href="">
                    <img src="images/letterLogo.svg" alt="">
                    <li>Stats</li>
                </a>
                <a href="">
                    <img src="images/letterLogo.svg" alt="">
                    <li>Settings</li>
                </a>
            </ul>
        </main>
    </aside>

    <main class="center-screen">
        <nav class="top-nav">
            <input type="text" id="searchBar" onkeyup="myFunction()" placeholder="Search for names.."
                title="Type in a name" class="search-bar">
            <div class="top-nav__profile">
                <img src="images/profilePic.jpg" alt="">
                <span>Izan24</span>
            </div>
        </nav>

        <section class="content-container">
            <section class="content">
                <section class="card-section">
                    <h2>Your Study Sessions</h2>

                    <div class="card-section__list">
                        <div class="card">
                            <div class="card-content">
                                <img class="" alt="Revolucion Francesa" src="images/revolucion.jpeg"></img>
                                <h3>Revolucion Francesa</h3>
                                <span>La Revolución francesa fue un conflicto social y político, con diversos periodos
                                    de
                                    violencia, que convulsionó Francia</span>
                            </div>
                            <a href="">View</a>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                <img class="" alt="Torre Eiffel" src="images/torre.jpg"></img>
                                <h3>Torre Eiffel</h3>
                                <span>La torre Eiffel3, inicialmente llamada tour de 300 mètres, es una estructura de
                                    hierro
                                    pudelado diseñada por los ingenieros Maurice Koechlin y Émile Nouguier Maurice
                                    Koechlin y
                                    Émile Nouguier
                                    Maurice Koechlin y Émile Nouguier, dotada de su aspecto definitivo por el arquitecto
                                    Stephen
                                    Sauvestre y construida por el ingeniero francés Alexandre Gustave Eiffel y sus
                                    colaboradores
                                    para la Exposición Universal de 1889 en París.</span>
                            </div>
                            <a href="">View</a>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                <img class="" alt="Revolucion Francesa" src="images/revolucion.jpeg"></img>
                                <h3>Revolucion Francesa</h3>
                                <span>La Revolución francesa fue un conflicto social y político, con diversos periodos
                                    de
                                    violencia, que convulsionó Francia</span>
                            </div>
                            <a href="">View</a>
                        </div>
                    </div>
                </section>

                <section class="card-section">
                    <h2>Explore Decks</h2>

                    <div class="card-section__list">
                        <div class="card">
                            <div class="card-content">
                                <img class="" alt="Revolucion Francesa" src="images/revolucion.jpeg"></img>
                                <h3>Revolucion Francesa</h3>
                                <span>La Revolución francesa fue un conflicto social y político, con diversos periodos
                                    de
                                    violencia, que convulsionó Francia</span>
                            </div>
                            <a href="">View</a>
                        </div>

                        <div class="card">
                            <div class="card-content">
                                <img class="" alt="Revolucion Francesa" src="images/revolucion.jpeg"></img>
                                <h3>Revolucion Francesa</h3>
                                <span>La Revolución francesa fue un conflicto social y político, con diversos periodos
                                    de
                                    violencia, que convulsionó Francia</span>
                            </div>
                            <a href="">View</a>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </main>
</body>

</html>