<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Deck Learn</title>
    <link rel="stylesheet" th:href="@{/styles/modules/css/home.css}">
    <link rel="stylesheet" th:href="@{/styles/modules/css/base_imports.css}">
    <!-- Hotjar Tracking Code for http://localhost:8080/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 2792035, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

<body>
    <div th:replace="fragments/left-nav :: left-nav"></div>

    <main class="center-screen">

        <div th:replace="fragments/top-nav :: top-nav"></div>

        <div class="content-container">
            <div class="content">

                <section class="card-section">
                    <h2>Your Study Sessions</h2>

                    <div class="card-section__list">

                        <div class="card" th:each="deck: ${study_sessions}">
                            <div class="card-content">
                                <img class="" th:src="${deck.imgPath}"></img>
                                <div>
                                    <h3 th:inline="text">[[${deck.title}]]</h3>
                                    <span th:text="${deck.description}"></span>
                                </div>
                            </div>
                            <a th:href="@{/deck/{id}(id=${deck.id})}">View</a>
                        </div>

                    </div>
                </section>

                <section class="card-section">
                    <h2>Explore Decks</h2>

                    <div class="card-section__list">

                        <div class="card" th:each="deck: ${explore_deck}">
                            <div class="card-content">
                                <img class="" th:src="${deck.imgPath}"></img>
                                <div>
                                    <h3 th:inline="text">[[${deck.title}]]</h3>
                                    <span th:text="${deck.description}"></span>
                                </div>
                            </div>
                            <a th:href="@{/deck/{id}(id=${deck.id})}">View</a>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </main>
</body>

</html>