<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Deck Learn</title>
  <link th:href=@{/styles/modules/css/login.css} rel="stylesheet" />
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <script th:src="@{/js/password.js}"></script>
  <!-- Hotjar Tracking Code for https://decklearn.eus/login -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 2797889, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</head>

<body>
  <main>
    <div class="left-part"></div>
    <div class="right-part">
      <div class="right-part__inside">
        <img th:src="@{images/svg/Cards_NEGATIVE.svg}" alt="Deck learn logo">
        <form th:action="@{/login}" method="post" class="inputs">
          <input title="username" type="text" class="custom-input" placeholder="username" name="username" required>
          <input title="password" type="password" class="custom-input" placeholder="password" name="password"
            id="passwordField" required>
          <div class="checkboxes">
            <div>
              <div class="bordered-checkbox" id="checkbox2">
                <input type="checkbox" id="check2" class="custom-check" th:onclick="changeVisivility()">
                <label for="check2" tabindex="0" class="custom-check__label"></label>
              </div>
              <label for="checkbox2">Show password</label>
            </div>
          </div>
          <input type="submit" class="custom-submit" value="Login">
          <a th:href="@{/register}" class="custom-button">Sign in</a>
          <a th:href="@{/register}" class="forgot-password">Forgot your password?</a>
        </form>
        <div class="right-part__messages">
          <p id="error" th:if="${(param.error != null) and (param.error[0] == 'fail')}" th:inline="text">
            Invalid credentials!
          </p>
          <p id="success" th:if="${(param.error != null) and (param.error[0] == 'logout')}" th:inline="text">
            Correctly logged out.
          </p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>