<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assert/main/css/main.css}">
    <link rel="stylesheet" th:href="@{/assert/login/css/login.css}">
</head>

<body>
    <main>
        <div class="left-part">
        </div>
        <div class="right-part">
            <img th:src="@{images/Cards_NEGATIVE.svg}" alt="Deck learn logo">
            <form th:action="@{/login}" method="post" class="inputs">
                <input type="text" class="custom-input" name="username" placeholder="Username">
                <input type="password" class="custom-input" name="password" placeholder="Password">
                <div class="checkboxes">
                    <label for="">
                        <input type="checkbox">Remember me
                    </label>
                    <label for="">
                        <input type="checkbox">Show password
                    </label>
                </div>
                <input type="submit" class="custom-submit" value="Login">
            </form>
            <a th:href="@{/signup}" class="custom-button">Sign in</a>
            <a th:href="@{/forgot_password}" class="forgot-password">Forgot your password?</a>
        </div>
    </main>
</body>

</html>