<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assert/main/css/main.css">
    <link rel="stylesheet" href="assert/login/css/login.css">
</head>

<body>
    <main>
        <div class="left-part">
        </div>
        <div class="right-part">
            <img src="images/Cards_NEGATIVE.svg" alt="Deck learn logo">
            <form action="" class="inputs">
                <input type="text" class="custom-input" placeholder="Username">
                <input type="password" class="custom-input" placeholder="Password">
                <div class="checkboxes">
                    <label for="">
                        <input type="checkbox">Remember me
                    </label>
                    <label for="">
                        <input type="checkbox">Show password
                    </label>
                </div>
                <input type="submit" class="custom-submit" value="Login">
            </form>
            <a href="" class="custom-button">Sign in</a>
            <a href="" class="forgot-password">Forgot your password?</a>
        </div>
    </main>
</body>

</html>