<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:inline="text">[[${user.username}]] | DeckLearn</title>
    <link rel="stylesheet" th:href="@{/styles/modules/css/profile_visit.css}">
    <link rel="stylesheet" th:href="@{/styles/modules/css/profile.css}">
    <script src="js/profile_visit.js"></script>
</head>

<body>
    <div th:replace="fragments/left-nav :: left-nav"></div>

    <main class="center-screen">

        <div th:replace="fragments/top-nav :: top-nav"></div>

        <section class="content">

            <h1 class="profile__top-title">Profile</h1>

            <div class="profile-data">

                <div class="profile-data__img-user">
                    <img class="profile-data__image" th:src="${user.img_path}" alt="">
                    <div class="profile-data__user">
                        <div class="user-name">
                            <h2 th:inline="text">[[${user.name}]]</h2>
                            <h3 th:inline="text">[[${user.username}]]</h3>
                        </div>
                        <div class="user-follower">
                            <p> <span th:inline="text">[[${following}]]</span> Following</p>
                            <p> <span th:inline="text">[[${followers}]]</span> Followers</p>
                        </div>
                    </div>
                </div>

                <div class="profile-data__button">
                    <form th:action="@{/{username}/follow(username=${user.username})}" method="post">
                        <input type="submit" class="button-following button-follow" tabindex="0">
                    </form>
                </div>

            </div>

            <nav class="profile-nav__center">
                <a class="selected" th:href="@{/{username}(username=${user.username})}">Created decks</a>
            </nav>

            <div class="card-section">                

                <div class="card-section__list">

                    <div class="card" th:each="deck: ${user_decks}">
                        <div class="card-content">
                            <img class="" th:src="@{deck.path}"></img>
                            <div>
                                <h3 th:inline="text">[[${deck.title}]]</h3>
                                <span th:text="${deck.text}"></span>
                            </div>
                        </div>
                        <a th:href="@{/deck/{id}(id=${deck.id})}">View</a>
                    </div>

                </div>
            </div>
        </section>

    </main>
</body>

</html>