
$decklearn-green: #46B6A0;
$button-green: #01CDA9;

$input-underline: #8D8D8D;

$custom-button-bg: #01CDA9;

$custom-button-border: #01CDA9;
$custom-button-color: #FFFFFF;

$web-bg: #FFFFFF;

$scroll-bar-color: #01CDA9;
$scroll-bar-border-color: #d6d6d6;
$scroll-bar-right-margin-color: #d6d6d6;

$custom-button-sec-bg: #FFFFFF;
$custom-button-sec-border: #01CDA9;
$custom-button-sec-color: #969090;

$card-section-button-color: #01CDA9;
$custom-button-font-color: #FFFFFF;

$border-bottom-color: #959595;

$search-bar-border-color: #ddd;

$nav-bar-items-color: #FFFFFF;
