
$title-font-size: 1.5rem;
$title-h4-font-size: 1.3rem;
$data-font-size: 1rem;
$categories-font-size: 0.7rem;

$width-size: calc(100% - 6rem);

$button-radius: 1.3rem;
$card-section-radius: 0.5rem;

$button-font-size: 1.3rem;
